doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel="stylesheet" href="/stylesheets/uikit.min.css")
    link(rel="stylesheet" href="/stylesheets/jquery-ui.css")

  body
    include partials/header.pug
    block content
    

block scripts 
    // UIkit JS
    script(src="/socket.io/socket.io.js")
    
    script(src="/javascripts/jQuery.js")
    script(src="/javascripts/jquery-ui.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/uikit.min.js")
    script(src="/javascripts/uikit-icons.min.js")
    
    
    script.
      var socket = io.connect('localhost:8090/finalize');

      socket.on('connection', () => {
          console.log('Successfully connected!');
      });
