doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel="stylesheet" href="/stylesheets/uikit.min.css")
    link(rel="stylesheet" href="/stylesheets/jquery-ui.css")

  body
    include partials/header.pug
    block content
    

block scripts 
    // UIkit JS
    script(src="/javascripts/jQuery.js")
    script(src="/javascripts/jquery-ui.js")
    script(src="/javascripts/uikit.min.js")
    script(src="/javascripts/uikit-icons.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/main.js")
    
    script.
      $( function(e) {
        
        $( "#draggable" ).draggable({cancel:false, 
        containment: "parent"});
      } );
      var button = $('.draggableButton')
      var search = $('.search')
      var downloadType = $('.downloadType')

      button.click(function(){ 
        $('.containmentWrapper').add
      })

      function addButton(){ 
        var body = new Object()
        body.id = Math.Floor(Math.Random() * 100)
        body.html = ""
      }
